.ship {
    width: 20px;
    height: 20px;
    background-color: #111111;

}
.mishit {
    width: 20px;
    height: 20px;
    background-color: #FFFF00;

}
.hunted {
    width: 20px;
    height: 20px;
    background-color: #FF0000;

}
.sunk {
    width: 20px;
    height: 20px;
    background-color: #0098FF;

}
.button{
    width: 20px;
    height:  20px;
}

.deleteLink {
    color: #FF0000;
    text-underline: none;
}
.deleteLink:visited {
    color: #FF0000;
    text-underline: none;
}